# Coding Challange - 03 - Solution

### Question 1:

We have two lists given below. I want you to print the first list in the original order and the second list in reverse order simultaneously.

list_1 = [12, 25, 31, 20, 18]
<br>list_2 = [11, 9, 43, 22, 55]

#### Expected Output:

12 55
<br>25 22
<br>31 43
<br>20 9
<br>18 11

In [3]:
list_1 = [12, 25, 31, 20, 18]
list_2 = [11, 9, 43, 22, 55]

for a, b in zip(list_1, list_2[::-1]):
    print(a, b)

12 55
25 22
31 43
20 9
18 11

### Question 2:

Print today's date in the format given below.

Day_name  Day_number  Month_name  Year

#### Expected Output:

Today's date is:  Tuesday 13 October 2020

In [4]:
from datetime import datetime

today_date = datetime.today()
print("Today's date is: ", today_date.strftime('%A %d %B %Y'))

Today's date is:  Tuesday 13 October 2020

### Question 3:

We have a string which contains grocery items. Print these items in a comma-separated sequence after sorting them alphabetically.

grocery_items = ' Grated Cheese, Coffee Powder, Pickles\
 White Chocolate, Dark Chocolate, Eggs, Breads, Milk,\
 Sugar, Salt, Cat Food, Fries'

#### Expected Output:

Breads, Cat Food, Coffee Powder, Dark Chocolate, Eggs, Fries, Grated Cheese, Milk, Pickles White Chocolate, Salt, Sugar

In [5]:
grocery_items = ' Grated Cheese, Coffee Powder, Pickles\
 White Chocolate, Dark Chocolate, Eggs, Breads, Milk,\
 Sugar, Salt, Cat Food, Fries'

items = [x for x in grocery_items.split(',')]
items.sort()
print (','.join(items))

 Breads, Cat Food, Coffee Powder, Dark Chocolate, Eggs, Fries, Grated Cheese, Milk, Pickles White Chocolate, Salt, Sugar

### Question 4:

Write a Python program to print the dates of yesterday, today, and tomorrow.

#### Expected Output:

Yesterday :  2020-10-12
<br>Today :  2020-10-13
<br>Tomorrow :  2020-10-14

In [6]:
import datetime 

today = datetime.date.today()
yesterday = today - datetime.timedelta(days = 1)
tomorrow = today + datetime.timedelta(days = 1) 

print('Yesterday : ',yesterday)
print('Today : ',today)
print('Tomorrow : ',tomorrow)

Yesterday :  2020-10-12
Today :  2020-10-13
Tomorrow :  2020-10-14

### Question 5:

We have a set that contains roll numbers of candidates who have applied for an event. Out of the applied candidates, few have submitted their application forms, and we have registered their details in a dictionary given below. Print the roll numbers of the candidates who have submitted their application forms and also the ones who are yet to submit it.

roll_numbers = {12, 7, 15, 23, 32, 30}
<br>student_details = {12:'Judy', 30:'Shane', 23:'Aaron'}

#### Expected Output:

Completed Applications:  {12, 30, 23}
<br>Pending Applications:  {32, 15, 7}

In [8]:
roll_numbers = {12, 7, 15, 23, 32, 30}
student_details = {12:'Judy', 30:'Shane', 23:'Aaron'}

completed_roll_numbers = {item for item in roll_numbers if item in student_details.keys()}

print("Completed Applications: ", completed_roll_numbers)

pending_roll_numbers = roll_numbers - completed_roll_numbers

print("Pending Applications: ", pending_roll_numbers)

Completed Applications:  {12, 30, 23}
Pending Applications:  {32, 15, 7}

### Question 6:

We have the time in seconds given below. Convert this time into days, hours, minutes, and seconds.

time = 996452

#### Expected Output:

Days : Hours : Minutes : Seconds -> 11 : 12 : 47 : 32

In [9]:
time = 996452

day = time // (24 * 3600)
time = time % (24 * 3600)
hour = time // 3600
time %= 3600
minutes = time // 60
time %= 60
seconds = time

print("Days : Hours : Minutes : Seconds -> %d : %d : %d : %d" % (day, hour, minutes, seconds))

Days : Hours : Minutes : Seconds -> 11 : 12 : 47 : 32

### Question 7:

We have a list of companies with their face values in the stock market. Now, I want to get the company's name along with its face value for the company, which has the maximum and the minimum face values. I also want you all to sort this list based on face values in increasing order. In this example, you have the flexibility to go ahead and google for some hints.

stock_market = {'AXIS BANK' : 7,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'BHARTI AIRTEL' : 5,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'COAL INDIA' : 10,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'ITC' : 1,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'TCS' : 3,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'L&T' : 2,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'RELIANCE' : 9,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'KOTAK BANK' : 8,
               <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;'AMERICAN EXPRESS' : 11}

#### Expected Output:

(1, 'ITC')
<br>(11, 'AMERICAN EXPRESS')
<br>[(1, 'ITC'), (2, 'L&T'), (3, 'TCS'), (5, 'BHARTI AIRTEL'), (7, 'AXIS BANK'), (8, 'KOTAK BANK'), (9, 'RELIANCE'), (10, 'COAL INDIA'), (11, 'AMERICAN EXPRESS')]

In [10]:
stock_market = {'AXIS BANK' : 7,
               'BHARTI AIRTEL' : 5,
               'COAL INDIA' : 10,
               'ITC' : 1,
               'TCS' : 3,
               'L&T' : 2,
               'RELIANCE' : 9,
               'KOTAK BANK' : 8,
               'AMERICAN EXPRESS' : 11}

min_face_value = min(zip(stock_market.values(), stock_market.keys()))
max_face_value = max(zip(stock_market.values(), stock_market.keys()))
sorted_face_value = sorted(zip(stock_market.values(), stock_market.keys()))

print(min_face_value)
print(max_face_value)
print(sorted_face_value)

(1, 'ITC')
(11, 'AMERICAN EXPRESS')
[(1, 'ITC'), (2, 'L&T'), (3, 'TCS'), (5, 'BHARTI AIRTEL'), (7, 'AXIS BANK'), (8, 'KOTAK BANK'), (9, 'RELIANCE'), (10, 'COAL INDIA'), (11, 'AMERICAN EXPRESS')]

### Question 8:

Write a program to print all the numbers between 100 to 300 (both included) such that each digit of the given number is an even number.

#### Expected Output:

200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288

In [11]:
num_values = []

for i in range(100, 301):
    num_string = str(i)
    
    if (int(num_string[0])%2==0) and (int(num_string[1])%2==0) and (int(num_string[2])%2==0) :
        num_values.append(num_string)
        
print (", ".join(num_values))

200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288

### Question 9:

We have a list of several names along with their age. Now, there is a meeting where seats are reserved for senior citizens (age - 45 above). I want to filter out the senior citizens from this list and get a resultant list where we the names of all those who satisfy the criteria.

passenger_list = {'Ross' : 35,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Thomas': 42,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Rick' : 55,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Ericson' : 51,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Josh' : 45,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Lara' : 50,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Emma' : 38,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Lily' : 46,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Ron' : 41,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Michael' : 47,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Joanna' : 56,
                 <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;'Arthur' : 42}

#### Expected Output:

{'Rick', 'Lily', 'Ericson', 'Joanna', 'Michael', 'Lara'}

In [12]:
passenger_list = {'Ross' : 35,
                 'Thomas': 42,
                 'Rick' : 55,
                 'Ericson' : 51,
                 'Josh' : 45,
                 'Lara' : 50,
                 'Emma' : 38,
                 'Lily' : 46,
                 'Ron' : 41,
                 'Michael' : 47,
                 'Joanna' : 56,
                 'Arthur' : 42}

senior_citizens = {name for (name, age) in passenger_list.items() if age > 45}
print(senior_citizens)

{'Rick', 'Lily', 'Ericson', 'Joanna', 'Michael', 'Lara'}

### Question 10:

We have a list given below, which contains several numbers. I want to slice this list based on its indexes, into 3 equal sub-lists.

num_list = [31, 24, 2, 16, 19, 45, 75, 63, 79]

#### Expected Output:

Sub-List  1 [31, 24, 2]
<br>Sub-List  2 [16, 19, 45]
<br>Sub-List  3 [75, 63, 79]

In [13]:
num_list = [31, 24, 2, 16, 19, 45, 75, 63, 79]

length = len(num_list)
subList_size  = int(length/3)
start = 0
end = subList_size

for i in range(1, 4, 1):
    indexes = slice(start, end, 1)
    subList = num_list[indexes]
    print("Sub-List ", i , subList)
    start = end
    
    if(i != 2):
        end += subList_size
    else:
        end += length - subList_size

Sub-List  1 [31, 24, 2]
Sub-List  2 [16, 19, 45]
Sub-List  3 [75, 63, 79]