# Coding Challange - 02

### Question 1:

We have two lists of numbers given below. I want you to create a third list by picking an odd-indexed element from the first list and even-indexed elements from the second list.

list_1 = [5, 10, 15, 20, 25, 30, 35]
<br>list_2 = [7, 14, 21, 28, 35, 42, 49]

#### Expected Output:

[10, 20, 30, 7, 21, 35, 49]

### Question 2:

You have two dictionaries, with each of them containing several letters associated with certain values. 

num_1 = {'a' : 5,
        's' : 7,
        'x' : 11,
        'm' : 12,
        'o' : 8}

num_2 = {'r' : 12,
        'x' : 9,
        'n' : 8,
        'm' : 12,
        'q' : 10}

I want you to perform the below-mentioned operations on these dictionaries:

	1. Print out the letters which are common to both these dictionaries.
	2. Print out the (key, value) pair, which is common to both these dictionaries.
	3. Print out all the letters which have occurred only once in these dictionaries.
	4. Print out the letters in num_1 that are not present in num_2.
	5. Print out a new dictionary num_3, which contains unique letters of num_1 from the previous output with their 
       associated values.

#### Expected Output:

	1. {'x', 'm'}
    2. {('m', 12)}
    3. {'o', 'a', 'n', 'q', 'r', 's'}
    4. {'o', 'a', 's'}
    5. {'o': 8, 'a': 5, 's': 7}

### Question 3:

Find out the number of letters and digits from the given alpha-numeric text.

sample_text = "Learning Journal 2020"

#### Expected Output:

Number of Letters:  15
<br>Number of Digits:  4

### Question 4:

We have a list given below. Add an item 200 to the list, after the item 100.

myList = [2, 8, [10, 20, [40, 60, [90, 100], 30, 70], 80], 50]

#### Expected Output:

[2, 8, [10, 20, [40, 60, [90, 100, 200], 30, 70], 80], 50]

### Question 5:

We have two sets given below. Print the first set again after removing the elements common to both of these sets.

set_1 = {2, 8, 19, 13, 24, 55, 48, 93}
<br>set_2 = {7, 11, 55, 84, 8, 65, 73, 13}

#### Expected Output:

{2, 48, 19, 24, 93}

### Question 6:

Print all the prime numbers between the given range.

start = 20
<br>end = 60

#### Expected Output:

Prime numbers between 20 and 60 are: 
23
<br>29
<br>31
<br>37
<br>41
<br>43
<br>47
<br>53
<br>59

### Question 7:

Here we have a list of 3 letters. I want you to concatenate this list with another list of numbers whose range varies from 1 to 3 (3 is included).

letters_list = ['H', 'R', 'S']

#### Expected Output:

['H1', 'R1', 'S1', 'H2', 'R2', 'S2', 'H3', 'R3', 'S3']

### Question 8:

Print all the numbers between 1 and 100 (both being included) that are multiples of 3 and 5 both.

#### Expected Output:

Multiples of 3 and 5: [15, 30, 45, 60, 75, 90]

### Question 9:

Here we have a poem by Walt Whitman. I want you to print this poem once again after removing all the vowels from them.

poem = "Centre of equal daughters, equal sons,\
All, all alike endeared, grown, ungrown, young or old,\
Strong, ample, fair, enduring, capable, rich,\
Perennial with the Earth, with Freedom, Law and Love,\
A grand, sane, towering, seated Mother,\
Chaired in the adamant of Time."

#### Expected Output:

'Cntr f ql dghtrs, ql sns,All, ll lk ndr’d, grwn, ngrwn, yng r ld,Strng, mpl, fr, ndrng, cpbl, rch,Prnnl wth th Erth, wth Frdm, Lw nd Lv,A grnd, sn, twrng, std Mthr,Chr’d n th dmnt f Tm.'

### Question 10:

Here we have some information about Python programming extracted from Wikipedia. Find all the occurrences of the word 'python' in the given python_info, ignoring the case.

python_info = "Python is an interpreted, high-level, and general-purpose programming language.\
Python is dynamically typed and garbage-collected.\
Python was created in the late 1980s as a successor to the ABC language, Python 2.0.\
Python 3.0 was released in 2008.\
A non-profit organization, the Python Software Foundation, manages and directs resources for Python development."

#### Expected Output:

The 'Python' count in python_info is: 7