# Practice Exercise - 03

### Question 1:

Convert the string given below into a list by taking each word separated by a comma as an element.

languages = "Java, Python, C++, Scala, C"

#### Expected Output:

['Java', ' Python', ' C++', ' Scala', ' C']

### Question 2:

We have a list of numbers given below. Add the element '10' at the 3rd position of the list and finally print the list.

num_list = [5, 6, 8, 7, 9]

#### Expected Output:

[5, 6, 8, 10, 7, 9]

### Question 3:

Print all the multiples of 3 between 5 and 25.

#### Expected Output:

6
<br>9
<br>12
<br>15
<br>18
<br>21
<br>24

### Question 4:

We have a list of numbers given below. Print the square of these numbers into another list using list comprehension.

num = [2, 4, 6, 8]

#### Expected Output:

[4, 16, 36, 64]

### Question 5:

Print the first 10 natural numbers.

#### Expected Output:

1
<br>2
<br>3
<br>4
<br>5
<br>6
<br>7
<br>8
<br>9
<br>10

### Question 6:

We have a tuple of numbers given below. Remove the largest number from the tuple and print it in sorted order.

num_tuple = (5, 8, 13, 2, 17, 1)

#### Expected Output:

[1, 2, 5, 8, 13]

### Question 7:

Convert the list given below into a string using a comma as a separator argument.

myList = ['Lenovo', ' Dell', ' Acer', ' Asus', ' HP']

#### Expected Output:

'Lenovo, Dell, Acer, Asus, HP'

### Question 8:

Print all the even numbers between -10 and 0.

#### Expected Output:

-10
<br>-8
<br>-6
<br>-4
<br>-2

### Question 9:

Reverse the integer given below.

n = 5623

#### Expected Output:

3265

### Question 10:

We have a list of numbers given below. Print the number, square of the number, and the cube of the number, all in a single list.

num = [2, 4, 6, 8]

#### Expected Output:

[(2, 4, 8), (4, 16, 64), (6, 36, 216), (8, 64, 512)]