Question 1:

Print the item 'Orange' from the list of fruits given below.

fruits = ['Apple', 'Grapes', 'Orange', 'Pineapple', 'Watermelon']

Expected Output:

Orange

In [1]:
fruits = ['Apple', 'Grapes', 'Orange', 'Pineapple', 'Watermelon']

print(fruits[2])

Orange

Question 2:

We have a list of fruits and a string given below. Since the string contains a fruit, add that string to the given list and print that new list.

fruit_list = ['Apple', 'Grapes', 'Orange', 'Pineapple', 'Watermelon']
<br>fruit_string = 'Mango'

Expected Output:

['Apple', 'Grapes', 'Orange', 'Pineapple', 'Watermelon', 'Mango']

In [2]:
fruit_list = ['Apple', 'Grapes', 'Orange', 'Pineapple', 'Watermelon']
fruit_string = 'Mango'

print(fruit_list + [fruit_string])

['Apple', 'Grapes', 'Orange', 'Pineapple', 'Watermelon', 'Mango']

Question 3:

There is a list given below which contains the name of cities. Repeat this list of cities 3 times, and print the old list and the new list.

cityList = ['London', 'New York', 'Delhi']

Expected Output:

Old City List: ['London', 'New York', 'Delhi']
<br>New City List: ['London', 'New York', 'Delhi', 'London', 'New York', 'Delhi', 'London', 'New York', 'Delhi']

In [3]:
cityList = ['London', 'New York', 'Delhi']

repeatedList = cityList * 3
print("Old City List: " + str(cityList))
print("New City List: " + str(repeatedList))

Old City List: ['London', 'New York', 'Delhi']
New City List: ['London', 'New York', 'Delhi', 'London', 'New York', 'Delhi', 'London', 'New York', 'Delhi']

Question 4:

Check if the city 'Delhi' is present in the list of cities given below.

cityList = ['London', 'New York', 'Delhi', 'Mumbai', 'Paris']

Expected Output:

True

In [4]:
cityList = ['London', 'New York', 'Delhi', 'Mumbai', 'Paris']

print('Delhi' in cityList)

True

Question 5:

Reverse the string given below.

name = 'Learning Journal'

Expected Output:

'lanruoJ gninraeL'

In [5]:
name = 'Learning Journal'

name[::-1]

'lanruoJ gninraeL'

Question 6:

There is a string object given below. Print the word 'sunny' from string 'msg.'

msg = 'A bright sunny day'

Expected Solution:

'sunny'

In [6]:
msg = 'A bright sunny day'

msg[9:14]

'sunny'

Question 7:

Check if the cities 'New York' and 'Delhi' are present in the list of cities given below.

cityList = ['London', 'New York', 'Delhi', 'Mumbai', 'Paris']

Expected Output:

True
<br>True

In [7]:
cityList = ['London', 'New York', 'Delhi', 'Mumbai', 'Paris']

print('New York' in cityList)
print('Delhi' in cityList)


#Explanation:

#If your try searching for 'New York' and 'Delhi' in a single statement like this.

#print(['New York', 'Delhi'] in cityList)

#You will get the output as false. This is because subsequence containment is only applicable to str objects.

True
True

Question 8:

Using the slicing operation remove the whitespaces between the letters and print the string once again.

name = 'P y t h o n'

Expected Output:

'Python'

In [8]:
name = 'P y t h o n'

name[::2]

'Python'

Question 9:

Print the index of the letter 'h' from the string given below.

name = 'Python'

Expected Output:

3

In [9]:
name = 'Python'

print(name.index('h'))

3

Question 10:

Print the odd indexed elements from the list of colors given below.

myList = ['Red', 'Blue', 'Orange', 'White', 'Black', 'Yellow']

Expected Output:

['Blue', 'White', 'Yellow']

In [10]:
myList = ['Red', 'Blue', 'Orange', 'White', 'Black', 'Yellow']

myList[1::2]

['Blue', 'White', 'Yellow']